/*
file.Node.Name	"basic/dropdown.css"	string		
-		selectorLogicModifierList	Count = 1	System.Collections.Generic.List<string>
		[0]	" "	string
	
-		selectorModifierList	Count = 0	System.Collections.Generic.List<string>
	
-		operators	Count = 14	System.Collections.Generic.List<string>
		[0]	"."	string
		[1]	"."	string
		[2]	"."	string
		[3]	" "	string
		[4]	"position"	string
		[5]	"display"	string
		[6]	"display"	string
		[7]	"position"	string
		[8]	"background-color"	string
		[9]	"min-width"	string
		[10]	"box-shadow"	string
		[11]	"padding"	string
		[12]	"z-index"	string
		[13]	"display"	string
	
-		operands	Count = 18	System.Collections.Generic.List<string>
		[0]	""	string
		[1]	"dropdown"	string
		[2]	""	string
		[3]	"dropdown-content"	string
		[4]	""	string
		[5]	"dropdown:hover"	string
		[6]	""	string
		[7]	"dropdown-content"	string
		[8]	"relative"	string
		[9]	"inline-block"	string
		[10]	"none"	string
		[11]	"absolute"	string
		[12]	"#f9f9f9"	string
		[13]	"160px"	string
		[14]	"0px 8px 16px 0px rgba(0,0,0,0.2)"	string
		[15]	"12px 16px"	string
		[16]	"1"	string
		[17]	"block"	string
	
		file.Node.BM_CognitiveComplexity	2	double
		file.Node.BM_CyclomaticComplexity	4	double
		file.Node.BM_NestingDepth	2	int

*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}