/*
Attribute selectors
Selector	Description	Example
*/
/*
file.Node.Name	"basic/attributeSelectors.css"	string		
-		selectorLogicModifierList	Count = 0	System.Collections.Generic.List<string>
	
-		selectorModifierList	Count = 0	System.Collections.Generic.List<string>
	
-		operators	Count = 21	System.Collections.Generic.List<string>
		[0]	"["	string
		[1]	"href"	string
		[2]	"["	string
		[3]	"href"	string
		[4]	"["	string
		[5]	"~"	string
		[6]	"["	string
		[7]	"["	string
		[8]	"href"	string
		[9]	"."	string
		[10]	"["	string
		[11]	"href"	string
		[12]	"["	string
		[13]	"href"	string
		[14]	"color"	string
		[15]	"color"	string
		[16]	"color"	string
		[17]	"color"	string
		[18]	"color"	string
		[19]	"color"	string
		[20]	"color"	string
	
-		operands	Count = 28	System.Collections.Generic.List<string>
		[0]	"a"	string
		[1]	""	string
		[2]	"]"	string
		[3]	"a"	string
		[4]	""	string
		[5]	"=\"/sitemap/\"]"	string
		[6]	"abbr"	string
		[7]	"title"	string
		[8]	"=\"Style\"]"	string
		[9]	"html"	string
		[10]	"lang|=\"en\"]"	string
		[11]	"a"	string
		[12]	""	string
		[13]	"^=\"http://\"]"	string
		[14]	"a"	string
		[15]	""	string
		[16]	"$=\""	string
		[17]	"com\"]"	string
		[18]	"a"	string
		[19]	""	string
		[20]	"*=\"htmldog\"]"	string
		[21]	"red"	string
		[22]	"red"	string
		[23]	"red"	string
		[24]	"red"	string

		file.Node.BM_CognitiveComplexity	4	double
		file.Node.BM_CyclomaticComplexity	9	double
		file.Node.BM_NestingDepth	3	int


*/
a[href] { color: red }
/* matches a elements with an href attribute */

a[href="/sitemap/"] { color: red }
/* matches a elements with the attribute and value href="/sitemap/" */

abbr[title~="Style"] { color: red }
/* matches abbr elements with a title that contains 'Style' (such as in title="Cascading Style Sheets") */

html[lang|="en"] { color: red }
/* matches html elements with a lang attribute that contains 'en' (such as in lang="en-gb") */

a[href^="http://"] { color: red }
/* matches a elements with an href attribute, the value of which begins with 'http://' */

a[href$=".com"] { color: red }
/* matches a elements with an href attribute, the value of which ends with '.com' */

a[href*="htmldog"] { color: red }
/* matches a elements with an href attribute, the value of which contains 'htmldog' */
