/*
file.Node.Name	"basic/nestingRule.css"	string
		file.Node.BM_CognitiveComplexity	2	double
		file.Node.BM_CyclomaticComplexity	5	double
		file.Node.BM_NestingDepth	2	int
    
-		file.Operands	Count = 13	System.Collections.Generic.List<string>
		[0]	"table"	string
		[1]	"colortable"	string
		[2]	"&"	string
		[3]	"td"	string
		[4]	"&"	string
		[5]	"c"	string
		[6]	"&:first-child"	string
		[7]	"&:first-child"	string
		[8]	""	string
		[9]	""	string
		[10]	"td"	string
		[11]	"uppercase"	string
		[12]	"1px solid black"	string

-		file.Operators	Count = 7	System.Collections.Generic.List<string>
		[0]	"."	string
		[1]	" "	string
		[2]	"."	string
		[3]	"+"	string
		[4]	" "	string
		[5]	"text-transform"	string
		[6]	"border"	string
*/
table.colortable {
    & td {
      text-align:center;
      &.c { text-transform:uppercase }
      &:first-child, &:first-child + td { border:1px solid black }
    }
    & th {
      text-align:center;
      background:black;
      color:white;
    }
}

.foo {
    color: blue;
    & > .bar { color: red; }
  }
  /* equivalent to
     .foo { color: blue; }
     .foo > .bar { color: red; }
   */
  
  .foo {
    color: blue;
    &.bar { color: red; }
  }
  /* equivalent to
     .foo { color: blue; }
     .foo.bar { color: red; }
   */
  
  .foo, .bar {
    color: blue;
    & + .baz, &.qux { color: red; }
  }
  /* equivalent to
     .foo, .bar { color: blue; }
     :is(.foo, .bar) + .baz,
     :is(.foo, .bar).qux { color: red; }
   */
  
  .foo {
    color: blue;
    & .bar & .baz & .qux { color: red; }
  }
  /* equivalent to
     .foo { color: blue; }
     .foo .bar .foo .baz .foo .qux { color: blue; }
   */
  
  .foo {
    color: blue;
    & { padding: 2ch; }
  }
  /* equivalent to
     .foo { color: blue; }
     .foo { padding: 2ch; }
  
     // and
  
     .foo { 
       color: blue; 
       padding: 2ch;
     }
   */
  
  .error, #404 {
    &:not(.foo,.bar) > .baz { color: red; }
  }
  /* equivalent to
     :is(.error, #404):not(.foo,.bar) > .baz { color: red; }
   */
  
  .foo {
    &:is(.bar, &.baz) { color: red; }
  }
  /* equivalent to
     .foo:is(.bar, .foo.baz) { color: red; }
   */
  
  figure {
    margin: 0;
  
    & > figcaption {
      background: hsl(0 0% 0% / 50%);
  
      & > p {
        font-size: .9rem;
      }
    }
  }
  /* equivalent to
     figure { margin: 0; }
     figure > figcaption { background: hsl(0 0% 0% / 50%); }
     figure > figcaption > p { font-size: .9rem; }
   */
  
  main {
    & > section,
    & > article {
      background: white;
  
      & > header {
        font-size: 1.25rem;
      }
    }
  }
  /* equivalent to
     main > :is(section, article) { background: white; }
     main > :is(section, article) > header { font-size: 1.25rem; }
   */

   .foo {
    color: red;
    @nest & > .bar {
      color: blue;
    }
  }
  /* equivalent to
     .foo { color: red; }
     .foo > .bar { color: blue; }
   */
  
  .foo {
    color: red;
    @nest .parent & {
      color: blue;
    }
  }
  /* equivalent to
     .foo { color: red; }
     .parent .foo { color: blue; }
   */
  
  .foo {
    color: red;
    @nest :not(&) {
      color: blue;
    }
  }
  /* equivalent to
     .foo { color: red; }
     :not(.foo) { color: blue; }
   */

   .foo {
    display: grid;
  
    @media (orientation: landscape) {
      & { 
        grid-auto-flow: column; 
      }
    }
  }
  /* equivalent to
     .foo { display: grid; }
  
     @media (orientation: landscape) {
       .foo { 
         grid-auto-flow: column; 
       }
     }
   */
  
  article {
    & .blue { color: blue; } /* (0,1,1) */
    & .red  { color: red; }  /* (0,1,1) */
  }
  
  /* equivalent to
   article .blue { color: blue; }
   article .red  { color: red; }
  */